H1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 400px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    align-self: center;
    flex-wrap: wrap;
    min-width: 580px;
}

button {
    display: block;
    padding: 30px;
    background-color: rgb(48, 190, 96);
}

button {
    padding: 15px 15px 15px 15px;
    background-color: orange;
    /* border-color: orangered; */
    box-shadow: 2px 2px black;
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bolder;
    color: white;
}

button:focus {
    box-shadow: 0px 0px;
    background-color: orangered;
}


.editor {
    overflow: hidden;
    margin: 0px;
    width: 100%;
    height: 800px;
}